body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f7fd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  border: 2px solid #1e3a8a;
}

body p, h1, h2 {
  padding: 10px;
  font-size: 32px;
  color: #1e3a8a;
  text-align: center;
}

input[type="button"] {
  padding: 10px 20px;
  margin: 20px auto;
  background-color: #3b82f6;
  color: white;
  border: 2px solid #1e3a8a;
  font-size: 16px;
  cursor: pointer;
}

table {
  width: 90%;
  border-collapse: collapse;
  font-size: 16px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #1e3a8a;
}

table, th, td {
  border: 1px solid #1e3a8a;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #60a5fa;
  color: white;
  font-weight: bold;
}


